@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en);

body{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #233C56;
    font-size: 13px;
    color: #676a6c;

}

.contenido{
  margin-top: 10px;
}

@media(min-width:768px) {
  .contenedor-header{
      color: black;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 35px;
      margin-left: 225px;
      margin-bottom: 0px;
      margin-top:0px;
      /*background-color: #333437 !important;*/
      background-color: #B5B7BB !important;

  }
}

@media(max-width:768px) {
  .contenedor-header{
      padding: 20px;
  }
}

.navbar-collapse.in {
  overflow: visible !important;
}

/* Top Navigation */
@media(min-width:768px) {
  .top-nav {
      padding: 0 15px;

  }

  .top-nav>li>a {
    border-left:1px solid #CCCDCE;
    border-right:1px solid #CCCDCE;

  }

}

@media(max-width:768px) {
  .top-nav>li>a {
    border-left:none !important;
    border-right:none !important;

  }
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #CCCDCE;
    border-left:1px solid #CCCDCE;
    border-right:1px solid #CCCDCE;
}


.top-nav>li>a:hover,
.top-nav>li>a:focus{
    color: #fff;
    background-color: transparent;

}

.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #676a6c;
    border: none;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #82848A;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
    color: white;
}
.top-nav>.open>.dropdown-menu>li>a:hover {
    color: white;
    background-color: #333437 !important;
}
.dropdown-menu .divider {
  background-color: #333437 !important;
}

.dropdown-menu:before 
{
    content: "";
    border-bottom: 10px solid #82848A;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 20%;
    margin-left: -10px;
    z-index: 10;
    }

.dropdown-menu 
{
  margin-top:10px !important;
}

/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 63px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background: #233C56;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .nav .side-nav li a:hover{
        background-color: rgba(51,52,55,0.8) !important;
    }

    .side-nav li a:focus {
      outline: none;
      background-color: rgba(51,52,55,0.8) !important;
      border-left:5px solid #1750AE;
      color: white !important;

    }
}

.side-nav>li>ul {
    padding: 0;
}


.borde{
    border:1px solid red;
}

#map{
    height: 400px;
}

/*---------------------- PANEL TAB ------------------*/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}


.navbar-inverse{
    background-color: rgba(51,52,55,0.9);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.230);
    box-shadow: 0 6px 12px rgba(0,0,0,.230);
}

.navbar-inverse .navbar-nav > li > a  {
    color:  #CCCDCE !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(51,52,55,0.8) !important;
    color: white !important;
    border-bottom: 1px solid #7A7C7E ;
    border-top: 1px solid #7A7C7E;
}



.navbar-brand{
    margin-top: 4px;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700;

}

.navbar-brand i{
    font-size: 30px;

}

.navbar-header{
    padding-right: 109px;
}

.navbar-text{
  color: white !important;
}

.contenido{
   margin-top: 70px;
}

/*---- mensajes error - success ----*/

.notification{
    position:fixed;
    top: 80px;
    right:0;
    background-color:#FF4136;
    padding: 20px;
    color: #fff;
    font-size:21px;
    display:none;
    z-index: 1000;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
    display:block!important;
}

.notification-error{
  background-color:#A62D26;
}

ani_panel{
    -webkit-animation-duration: 2s;  
    -webkit-animation-delay: 1s;  
    /*-webkit-animation-iteration-count: 5; */
}